body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    overflow: hidden;
}

#terminal {
    position: absolute;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px;
    top: 0;
    left: 0;
    overflow-wrap: break-word;
    background-color: #000505;
}

#cursor {
    position: relative;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    width: min-content;
    margin: 0px 0px;
    opacity: 0;
    animation: blink 1s linear infinite;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
@keyframes hide {
    to {
        opacity: 0;
    }
}
@keyframes show {
    to {
        opacity: 1;
    }
}

.greenGlow {
    color: #00ff00;
    text-shadow: #0f0 0px 0px 5px, #0f0 0px 0px 10px;
}

p {
    display: inline;
    font-size: 20px;
    text-decoration: none;
    width: min-content;
    margin: 0px 0px;
}